<p>dashboard works!</p>
<div class="dashboard_container">
    <div class="dashboard_box">
        <p>Registered</p>
        <h1>8</h1>
    </div>
    <div class="dashboard_box">
        <p>Closed</p>
        <h1>8</h1>
    </div>
    <div class="dashboard_box">
        <p>Running</p>
        <h1>8</h1>
    </div>
    <div class="dashboard_box">
        <p>Closure Delay</p>
        <h1>8</h1>
    </div>
    <div class="dashboard_box">
        <p>Cancelled</p>
        <h1>8</h1>
    </div>

</div>